<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<form class="form-inline" role="form">
    <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  
  <!--<div class="actions">-->
  <button class="btn btn-lg btn-default" type="submit">Registrar</button>

</form>