<h1>Administración</h1>
<br>

<div class="btn-toolbar col-lg-6 col-lg-offset-4" role="toolbar">
	<div class="btn-group" role="group">
	<a class="btn btn-danger" href="/products" >Productos</a>
	</div>
	<div class="btn-group" role="group">
		<a class="btn btn-warning" href="/tipo_productos" >Tipo productos</a>
		<a class="btn btn-warning" href="/marcas" >Marcas</a>
		<a class="btn btn-warning" href="/categoria" >Categorías</a>
		<a class="btn btn-warning" href="/modelos" >Modelos</a>
	</div>
</div>




