<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<select name="tipo">
  <option value=""></option>
  <option value="1" selected="selected">David</option>
  <option value="2">Sam</option>
  <option value="3">Tobias</option>
</select>


<a class="btn btn-default" href="/admin/agregar_tipo_producto" >Agregar tipo producto</a>