<div class="container-fluid">
  <h2 style="color:navy">¡Bienvenido a Vigomaq!</h2>
    <!--<p style="color:#F1C410; font-size:18px; text-shadow: 0.1em 0.1em 0.2em black;">¡Infórmate de nuestros servicios y herramientas!</p>-->
    
    <div class="row">
      <div class="col-sm-5 col-lg-offset-1 well well-sm" style="background-color:#2b5a8e; color:white;">
        <p>Porque el problema de operación y funcionamiento en sus equipos son también
        nuestra preocupación, queremos entregarles un servicio ágil, eficiente y profesional,
        dejando en nuestras manos la solución a sus dificultades.
        </p>
        <p>Ofrecemos una diversidad de maquinarias y herramientas para satisfacer sus necesidades
        de equipos para la construcción, correspondientes a prestigiosas y garantizadas marcas
        con representación a lo largo del país. Constamos con Trompos Concreteros, Placas Compactadoras, 
        Vibradores, Sondas, Herramientas eléctricas, etc. Cotícenos sin compromiso, estamos para atenderles.
        </p>
        <p>Nuestro servicio de reparaciones está representado por un equipo altamente confiable y profesional,
        dispuesto a resolver sus inconvenientes con una atención personalizada.
        Tráiganos sus equipos. Reparamos todo tipo de motores: bencineros, diesel y eléctricos; taladros, 
        demoledores, rompepavimentos, esmeriles, herramientas eléctricas en general; placas compactadoras, 
        trompos concreteros, sondas vibradoras de 25, 35,45 o 60 mm; fumigadoras, compresores, etc.      
        Además atendemos anomalías en terreno. 
        </p>
      </div>

      <div class="col-sm-4">
        <h2>Mapa</h2>
        <%= image_tag "map.png", :alt => "Map", :title => "Mapa" %>
        <p align="center">Dirección: 
        <br> Av. Gral. Carlos Ibañez del Campo 3114 - Paradero 4 Achupallas (Caletera Lado Sta. Julia), Viña del Mar, Quinta Región de Valparaíso
        <br> Teléfono:
        <br>(32) 233 0403</p>
      </div>
    </div>
<a class="btn btn-lg btn-primary col-lg-offset-5" href="/" role="button"><span class="glyphicon glyphicon-backward"></span> Volver</a>
</div>
<!--</div>-->




