<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <h1 style="color:navy">¡Bienvenido a Vigomaq!</h1>
      <p style="color:#F1C410; font-size:18px;">¡Infórmate de nuestros servicios y herramientas!</p>
      
      <div class="row">
        <div class="col-sm-4" style="background-color:white; color:#1673BB;">
        Porque el problema de operación y funcionamiento en sus equipos son también
        nuestra preocupación, queremos entregarles un servicio ágil, eficiente y profesional,
        dejando en nuestras manos la solución a sus dificultades.
        </p>
        </div>
        <div class="col-sm-4" style="background-color:white; color:#1673BB">
        Ofrecemos una diversidad de maquinarias y herramientas para satisfacer sus necesidades
        de equipos para la construcción, correspondientes a prestigiosas y garantizadas marcas
        con representación a lo largo del país. Constamos con Trompos Concreteros, Placas Compactadoras, 
        Vibradores, Sondas, Herramientas eléctricas, etc. Cotícenos sin compromiso, estamos para atenderles.

        </div>
        <div class="col-sm-4" style="background-color:white; color:#1673BB;">
         Nuestro servicio de reparaciones está representado por un equipo altamente confiable y profesional,
        dispuesto a resolver sus inconvenientes con una atención personalizada.
         Tráiganos sus equipos. Reparamos todo tipo de motores: bencineros, diesel y eléctricos; taladros, 
        demoledores, rompepavimentos, esmeriles, herramientas eléctricas en general; placas compactadoras, 
        trompos concreteros, sondas vibradoras de 25, 35,45 o 60 mm; fumigadoras, compresores, etc.      
        Además atendemos anomalías en terreno. 
       </div>
      </div>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>






