
<style type="text/css">

<!--h1{
  margin-bottom: 150px;
} -->
p{
  font-size: 25px;
}

</style>

<!---->

<!---->  
      <!-- Carousel
    ================================================== -->
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" align="center" margin><%= image_tag "img1.png", size: "770x500",:alt => "Vigomaq", :title => "Vigomaq"%> 
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0.1em 0.1em 0.2em black;">
              <h1>¡Vigomaq tiene todo lo que necesitas!</h1>
              <p>Conoce y disfruta nuestros productos.</p><BR>
              <a class="btn btn-lg btn-primary" href="/products" role="button">Ver productos <span class="glyphicon glyphicon-forward"></span></a>
            </div>
          </div>
        </div>
        <div class="item" align="center">
          <%= image_tag "2.png", size: "770x400", :alt => "Vigomaq", :title => "Vigomaq"%>
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0.1em 0.1em 0.2em black;">
              <h1>Comienza a utilizar nuestros productos y servicios</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="/users/sign_in" role="button">Regístrate <span class="glyphicon glyphicon-forward"></span></a></p>
            </div>
          </div>
        </div>
        <div class="item" align="center">
          <%= image_tag "3.png", size: "770x400", :alt => "Vigomaq", :title => "Vigomaq"%>
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0.1em 0.1em 0.2em black;">
              <h1>¿Quienes somos?</h1>
              <p>Vigomaq es una empresa integral al servicio de sus proyectos.</p>
              <p><a class="btn btn-lg btn-primary" href="/inicio/empresa" role="button">Más información <span class="glyphicon glyphicon-forward"></span></a> </p>
            </div>
          </div>
        </div>
        

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->


