<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  </head>

	<body>

<!---->

    <div class="jumbotron">
    	<h1 class= "text-center">Bienvenido a Vigomaq</h1>
    	<p class="lead", align="center">Porque el problema de operación y funcionamiento en sus equipos son también nuestra preocupación, queremos entregarles un servicio ágil, eficiente y profesional, dejando en nuestras manos la solución a sus dificultades.</p>
    	<p align="center"><a class="btn btn-lg btn-default" href="/products" role="button">Revisa nuestros productos</a></p>
    </div>
    

    


	</body>

	<footer>
		<div class="img-responsive" alt="Responsive image" align="center">
   			<%= image_tag "vigomaq.jpg", :alt => "Vigomaq", :title => "Vigomaq"%>
		</div>
	</footer>




</html>

