<div class="img-responsive", align="center">
   <%= image_tag "vigomaq.jpg", :alt => "Vigomaq", :title => "Vigomaq"%>
</div>


<h1 class= "text-center">Bienvenido a Vigomaq</h1>


<p class="text-center">
Porque el problema de operación y funcionamiento en  <br>
sus equipos son también nuestra preocupación, queremos <br>
entregarles un servicio ágil, eficiente y profesional, <br>
dejando en nuestras manos la solución a sus dificultades.
</p>

