<h1>Bienvenido a Vigomaq</h1>


<% if user_signed_in? %> 
	<% if current_user.tipo != 2 %>  
  	<li> Conectado como <%= current_user.tipo %></li>
  	<% else %>  
  	<li> Conectado como <%= current_user.tipo %></li>
	<% end %>  
  <% else %> 
  <li>No estoy registrado</li> 
<% end %> 