 <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
<p>Envelope icon as a link:
  <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
</p>
<p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
<p>Search icon on a button:
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
</p>
<p>Search icon on a styled button:
  <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
</p>
<p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
<p>Print icon on a styled link button:
  <a href="#" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-print"></span> Print
  </a>
</p>

1
2
3
  
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

<<<<<<< HEAD
<span class="glyphicon glyphicon-chevron-right"></span>
=======
<span class="glyphicon glyphicon-chevron-right"></span>






<select name="tipo">
<option value="" selected="selected"></option>
<% @products.each do |product| %>

  <option value="<%=product.id%>" ><%=product.nombre%></option>
  <% end -%>
</select>
>>>>>>> 8bf4967c505a7d69ce91ead6bd6f105916c573d5
