<h1>Editar producto</h1>

<% if user_signed_in? %> 
	<% if current_user.tipo != 2 %>  
		<li>No tiene permiso para entrar a esta página</li>
  		<li><a href="/">Volver a inicio</a></li>
  	<% else %>  

  		<%= render 'form' %>
		<%= link_to 'Ver producto', @product %> |
		<%= link_to 'Regresar', products_path %>  	
	<% end %>  
  <% else %> 
  	<li>No tiene permiso para entrar a esta página</li>
  	<li><a href="/">Volver a inicio</a></li>
<% end %> 